<!DOCTYPE html>
<html>
  <head>
    <title>Quizone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <header class="row">
    <div id="cf">
  <img class="bottom" src="http://cssdeck.com/uploads/media/items/6/6NyhMy8.jpg" />
  <img class="top" src="http://cssdeck.com/uploads/media/items/0/0UycnoM.jpg" />
</div>
      <div class="col-4 slogan">
        This is something you will tell all of your friends and family about!!!
      </div>
      <div class="col-5 links">
        <%= link_to 'About', '#' %>
      </div>
      </header>

      <hr />


      <br class="clear" />


    <%= yield %>
  </body>
</html>
